<h4>Hosts</h4>
<li>
    <a href="https://twitter.com/vijaykiran" target="_blank">Vijay Kiran on Twitter</a>
</li>
<li>
    <a href="https://twitter.com/raymcdermott" target="_blank">Ray McDermott on Twitter</a>
</li>
<br>
<h4>Credits</h4>
<li>
    <a href="https://soundcloud.com/ptzery/melon-hamburger" target="_blank"> Music - ptzery on SoundCloud</a>
</li>
<li>
    <a href="https://twitter.com/wouterdullaert" target="_blank">Sound - Wouter Dullaert on Twitter</a>
</li>
<li>
    <a href="https://twitter.com/moolver_sin" target="_blank">Art - Lubov Soltan on Twitter</a>
</li>