<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
            {% include logo.html %}

      <header>
        <br>
        <table>
          <tr><th>Links</th></tr>
          <tr><td><a href="{{ site.baseurl }}{% link index.md %}">Home Page</a></td></tr>
          <tr><td><a href="{{ site.baseurl }}{% link sponsor.md %}">Sponsor the podcast</a></td></tr>
          <tr><td><a href="{{ site.baseurl }}{% link rss.md %}">RSS Feed</a></td></tr>
          <tr><td><a href="{{ site.baseurl }}{% link about.md %}">About the hosts</a></td></tr>
          <tr><td><a href="{{ site.baseurl }}{% link feedback.md %}">Feedback</a></td></tr>
        </table>
      </header>
      <section>


      {{ content }}

      </section>

      <footer>
        {% include footer.html %}
      <footer>

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
